# Tiendanube
TIENDANUBE_STORE_ID=
TIENDANUBE_CLIENT_ID=
TIENDANUBE_CLIENT_SECRET=
TIENDANUBE_ACCESS_TOKEN=

# Kommo
KOMMO_SUBDOMAIN=
KOMMO_CLIENT_ID=
KOMMO_CLIENT_SECRET=
KOMMO_ACCESS_TOKEN=
KOMMO_REDIRECT_URI=
